.book-cover {
  width: 40px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.book-title {
  color: #99aabb;
  font-weight: 500;
  text-decoration: none;
}

.book-title:hover {
  color: #ffffff;
}

.author {
  color: #dde2e8;
}

.date-cell {
  color: #ccd6dd;
  text-align: center;
}

.dash-cell {
  color: #555;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}

.icon-cell {
  text-align: center;
  font-size: 1.1rem;
}

.icon {
  vertical-align: middle;
}

.liked {
  color: #e25555;
}

.not-liked {
  color: #555;
}

.edit-icon {
  cursor: pointer;
  color: #99aabb;
}

.edit-icon:hover {
  color: #ffffff;
}
